.glass {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255,255,255,0.1);
    padding:40px;
    border-radius:20px;
    box-shadow: 0 0 40px rgba(255,255,255,0.05);
    transition:0.4s;
}

.glass:hover {
    box-shadow: 0 0 80px rgba(255,255,255,0.2);
}